@page {
  size: A4;
  margin: 0;
}

body {
  width: 210mm;
  height: 297mm;
  margin: 0;
  overflow: none;
  border-right: 1px dashed grey;
  border-bottom: 1px dashed grey;
}

br {
  line-height: 0;
}

.contents {
  padding: 0.3in 0.5in;
}

h1 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 2px;
}

p {
  margin: 0;
  font-size: 12px;
}

h2 {
  font-size: 14px;
  margin-bottom: 1px;
  margin-top: 14px;
}

hr {
  border-top: 0.4mm solid black;
  margin: 0;
}

h3 {
  margin: 0 0 2px;
  font-size: 13px;
}

h4 {
  margin: 0 0 2px;
  font-size: 12.5px;
}

i {
  margin: 0;
  font-size: 12px;
}

ul {
  margin: 4px 0 0;
  font-size: 12px;
}

.flex {
  padding-top: 3px;
  display: flex;
  justify-content: space-between;
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
